@page "/"
@rendermode InteractiveAuto

<MudSelect T="PokemonPreview" Label="Select Pokémon" ToStringFunc="@(u => u?.Name)">
    @foreach (var PokemonPreview in Pokemons)
    {
        <MudSelectItem Value="@PokemonPreview">
            <div class="d-flex align-center">
                <MudImage Src="@PokemonPreview.AvatarUrl" Width="24" Height="24" Class="mr-2" />
                <MudText>@PokemonPreview.Name</MudText>
            </div>
        </MudSelectItem>
    }
</MudSelect>

@code {
    string country = "Austria";
    public record PokemonPreview(string Name, string AvatarUrl);
    private List<PokemonPreview> Pokemons = new() 
    {
        new PokemonPreview( "Bulbasaur", "https://archives.bulbagarden.net/media/upload/7/70/Menu_HOME_0001.png") ,
        new PokemonPreview( "Ivysaur", "https://archives.bulbagarden.net/media/upload/b/b7/Menu_HOME_0002.png" ),
        new PokemonPreview( "Venusaur", "https://archives.bulbagarden.net/media/upload/9/99/Menu_HOME_0003.png" ),
        new PokemonPreview( "Charmander", "https://archives.bulbagarden.net/media/upload/9/9c/Menu_HOME_0004.png" ),
        new PokemonPreview( "Charmeleon", "https://archives.bulbagarden.net/media/upload/1/1b/Menu_HOME_0005.png" ),
        new PokemonPreview( "Charizard", "https://archives.bulbagarden.net/media/upload/b/b7/Menu_HOME_0006.png" ),
        new PokemonPreview( "Squirtle", "https://archives.bulbagarden.net/media/upload/1/18/Menu_HOME_0007.png" ),
        new PokemonPreview( "Wartortle", "https://archives.bulbagarden.net/media/upload/9/97/Menu_HOME_0008.png" ),
        new PokemonPreview( "Blastoise", "https://archives.bulbagarden.net/media/upload/9/9e/Menu_HOME_0009.png" )
    }
;
}
